<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Django\react_django\backend\" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="backend.settings" />
</appSettings>
    <system.webServer>
        <handlers>
            <add name="backend" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Django\Scripts\python.exe|C:\Django\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
